* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  background: url("./assets/bg-cafe.jpg");
  background-repeat: no-repeat;
  background-color: #111315;
  height: 100vh;
}
.main-container{
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
 align-items: center;
 justify-content: center;
}

.card{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  background-color: #1B1D1F;
  padding: 30px;
  width: 90%;
  
}
.card h1{
  font-family: "DM+Sans";
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #FEF7EE;
}
.card p{
  font-family: "DM+Sans";
  font-size: 16px;
  margin-bottom: 20px;
  color: #6F757C;
}
.card button{
  background-color: #6F757C;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: #FEF7EE;
}
.title{
  text-align: center;
  width: 40%;
  margin-left: 350px;
}
.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
.card button{
  align-items: center;
  justify-content: center;
}
.coffee-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 20px; /* Adjust spacing */
}
.coffee-card{
  background-color: #1B1D1F;
  width: 27%;
  padding: 10px;

}
.coffee-details{
  display: flex;
  flex-direction: row;
}
.coffee-details span{
  margin-left: 130px;
  border: none;
  background-color: #BEE3CC;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  
}
.coffee-details p{
  color: #FEF7EE;
  white-space:nowrap;
}
.coffee-ratings{
  white-space: nowrap;
}